body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    margin: 0;
    padding: 0;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .form {
    width: 300px;
    padding: 50px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .question {
    font-size: 1.2em;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .options {
    margin-bottom: 20px;
  }
  
  label {
  
   
    background-color: #f9f9f9;
    border-radius: 5px;
    cursor: pointer;
  }
  
  
  label:hover {
    background-color: #e0e0e0;
  }
  
  .submit-btn   {
    display: block;
    width: 40%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
  }
  .submit-bn{
    display: none;
  }
  
  
  #btn{
    width: 40%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;

  }

  
  .submit-btn:hover {
    background-color: #0056b3;
  }
  